<?xml version="1.0"?>
<model>
  <name>p230_event</name>
  <version>1.0</version>
  <sdf version="1.6">p230_event.sdf</sdf>

  <author>
   <name>Flora</name>
   <email>flora.fu@torontomu.com</email>
  </author>

  <description>
    This is a model of the AMOVLAB P230 with a front looking event camera
  </description>
</model>
